@font-face {
  // Light
  font-family: 'IBM Plex Serif';
  src:         url('../public/fonts/IBMPlexSerif-Light.ttf') format('truetype');
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  // Regular
  font-family: 'IBM Plex Serif';
  src:         url('../public/fonts/IBMPlexSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  // SemiBold
  font-family: 'IBM Plex Serif';
  src:         url('../public/fonts/IBMPlexSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style:  normal;
}

@font-face {
  // Bold
  font-family: 'IBM Plex Serif';
  src:         url('../public/fonts/IBMPlexSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style:  normal;
}
